.nav .nav-item .nav-link.active {
    background-color: lightpink;
    color: darkblue;
}
body {
     background-image: url("air.jpeg");
     
}

iframe {
    width:80%;
    height:600px;
     /* margin: 0; 
     border:1px solid ;
     position: 0;
     background: transparent; 
     border: 1px solid #ccc;
     background-image: url("IMG_8880.JPG"); */
}
.btn {
    border-radius: 8px;
    font-size: 50px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 80%;
    display: block;
    justify-content: center;
    margin: 0 auto; 
    background-color: lightgreen;
}
