
.nav .nav-item .nav-link.active {
    background-color: lightpink;
    color: blue ;
}

/* .nav-link {
  color:white ;
  background-color: darkblue;
  font-style:bold;
} */


body { 
  /* background:url("/Aviation.jpg");
  background-image: url("images/beer\ on\ beach\ \(1\).jpeg"); */
  background-image: url("planes\ sf.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  /*   height: 100vh; */
  width: 100vw;
  padding: 20px;
  /* background-size: 80% 700%;
  background-repeat: no-repeat; */

}
/* sets the container and columns to take up the entire height of the screen */
.enter .col {
  height: 80vh;
}
h1 { 
  color:blueviolet;
  /* font-weight: 400; */
  font-style: bold;
  font-size: 4rem;
}




