img {
    display: block;
    min-width: 40%;
    max-width: 80%;
    margin: auto
}

.nav .nav-item .nav-link.active {
    background-color: lightpink;
    color: darkblue;
}

body{
    background-color: rgb(250, 239, 241);
}


